
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.grid-container {
    background: white;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "g1 g2 g3" "g4 g5 g6" "g7 g8 g9";
  }
  
  .g1 { grid-area: g1; }
  
  .g3 { grid-area: g3; }
  
  .g4 { grid-area: g4; }

  .g6 { grid-area: g6; }
  
  .g7 { grid-area: g7; }
  
  .g8 { grid-area: g8; }
  
  .g9 { grid-area: g9; }

  

                                              /*  TELA*/
  .g2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas: "t1" "t2" "t3";
    grid-area: g2;
  }
  
  .t1 { grid-area: t1; }
  
  .t2 { grid-area: t2; }
  
  .t3 { grid-area: t3; }



                                            /*  NUMEROS*/
  .g5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "pp1 pp2 pp3" "pp4 pp5 pp6" "pp7 pp8 pp9" "pp10 pp11 pp12";
    grid-area: g5;
    text-align: center;
    align-items: center;
    padding: 10px;
    border: tomato solid 1px;
  }
  
  .p\= { grid-area: p11; }
  
  .p0 { grid-area: p0; }
  
  .p\+ { grid-area: p10; }
  
  .p9 { grid-area: p9; }
  
  .p8 { grid-area: p8; }
  
  .p7 { grid-area: p7; }
  
  .p6 { grid-area: p6; }
  
  .p5 { grid-area: p5; }
  
  .p4 { grid-area: p4; }
  
  .p3 { grid-area: p3; }
  
  .p2 { grid-area: p2; }
  
  .p1 { grid-area: p1; }


.bloco{
    display: grid;
    height: 100%;
    text-align: center;
    align-items: center;
    background: tomato;

    
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}








  


































.sombra{
    box-shadow: 1px 1px 10px black;
}

.baixo{
    background-color: rgb(247, 118, 118);

}


h1{
    font-size: 5rem;
}
  
.tx{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.quadrado{
    font: normal 3rem BlinkMacSystemFont;
    background: rgb(0, 0, 0);
    color: white;
    width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    margin: 10px;
}


