* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    margin: 100px auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.514);
    text-align: center;
}

.domingo{
    min-height: 100vh;
    background-color: rgb(102, 62, 62);
}

button{
    background: #069;
    color: white;
    font-size: 32px;
    padding: 8px 20px;
    cursor: pointer;
    border: 0; 
}










.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: "a1 a2 a3" "a4 a5 a6" "a7 a8 a9";
    width: auto;
    height: auto;
    font-size: 100px;
    border: 3px solid rgb(0, 0, 0);
    line-height: 1;
    margin: 10px;
  }
  
  .a1 { grid-area: a1; }
  
  .a2 { grid-area: a2; }
  
  .a3 { grid-area: a3; }
  
  .a4 { grid-area: a4; }
  
  .a5 { grid-area: a5; }
  
  .a6 { grid-area: a6; }
  
  .a7 { grid-area: a7; }
  
  .a8 { grid-area: a8; }
  
  .a9 { grid-area: a9; }

  .cor{
      background-color: rgb(255, 113, 70);
  }



  .contadorPTS{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .3rem .50rem;
    font-size: 1rem;
    line-height: 0.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  }


